.th-sorted {
    color: #1ca8dd !important;
    border-bottom: 2px solid #1ca8dd !important;
}
.th-sort {
    cursor: pointer!important;
}
.th-sort > i:first-child {
    float: right;
    margin-right: 6px;
}
.th_sort_desc {
    background: url("../img/sort_desc.png") no-repeat;
    background-position: right center;
}
.th_sort_asc {
    background: url("../img/sort_asc.png") no-repeat;
    background-position: right center;
}
.th_sort_both {
    background: url("../img/sort_both.png") no-repeat;
    background-position: right center;
}
.no-padding{padding:0!important}
qwp {
    display: none;
}
div[qwp='table-top-left'],div[qwp='table-top-right'] {
    margin-bottom: 2px;
}
div[qwp='table-top-right'] div[qwp='pager-left'] {
    float: left;
}
div[qwp='table-top-right'] div[qwp='pager-right'] {
    float: right;
}
div[qwp='table-top-right'] div[qwp='pager-left'] {
    margin-right: 4px;
    padding-top: 5px;
}
div[qwp='table-top-right'] .pagination{
    margin: 0;
}
div[qwp='table-top-right'] .pagination ul{
    margin-bottom: 0;
}
div[qwp='table-top-right'] .pagination >li>a, div[qwp='table-top-right'] .pagination >li>span{
    padding: 3px 5px;
}
table[qwp='table-header'] {
    background-color: #F0F8FF;
}
table[qwp='table-header'] > thead > tr > th[group-row] {
    padding-top: 3px;
    padding-bottom: 3px;
}
table[qwp='table-header'] th,table[qwp='data-table'] > tbody > tr > td {
    WORD-BREAK: break-all;
    WORD-WRAP: break-word;
}
table[qwp='table-header'] th[data-group]{
    text-align: center;
}
table[qwp='table-header'] th[group-row]{
    vertical-align: middle;
}
table[qwp='table-header'] thead>tr>th[data-field] {
    padding-right: 1px!important;
}
table[qwp='table-header'] thead>tr>th[opt-col], table[qwp='data-table'] >tbody>tr[rid]>td[opt-col]{
    padding-left: 3px!important;
    padding-right: 3px!important;
    text-align: center;
}
table[qwp='table-header'] thead>tr>th[opt-col]>input[type='checkbox'],table[qwp='data-table'] >tbody>tr[rid]>td[opt-col]>input[type='checkbox'] {
    margin: 0 0 0 2px!important;
    min-width: 18px!important;
    width: 18px!important;
    height: 21px!important;
    vertical-align: middle;
    cursor: pointer!important;
}
table[qwp='data-table'] >tbody>tr[rid]>td[opt-col]>.btn {
    padding: 0 2px;
}
table[qwp='data-table'] >tbody>tr[rid]>td[opt-col]>.btn>i {
    top: 2px;
}
div[qwp='container'] > .table-responsive {
    margin-bottom: 0!important;
    border-bottom-width: 0!important;
}
div[qwp='container'] > .slimScrollDiv > .table-responsive{
    border-top-width: 0!important;
}
.line-loading {
    height: 3px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #D9EDF7;
}
.gif-loading {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    margin: auto;
    text-align: center;
}
.overlay-loading {
    position: absolute;
    z-index: 998;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}
.qwp-search {
    padding: 6px!important;
    margin-bottom: 6px!important;
    background-color: #d9edf7;
    margin-right: -20px;
    margin-left: -20px;
}
.qwp-search input, .qwp-search select,form[qwp='search'] input, form[qwp='search'] select {
    height: 30px;
}
.qwp-table {
    margin-left: -15px;
    margin-right: -15px;
}
.qwp-table > .row {
    position: relative!important;
    margin-left: 0;
    margin-right: 0;
}
.qwp-search > .close {
    right: 0!important;
}
.main {
    padding-top: 5px!important;
    padding-bottom: 0!important;
}
@media (max-width: 768px){
    .qwp-table {
        margin-left: -15px;
        margin-right: -5px;
    }
    .qwp-search {
        margin-left: -15px;
        margin-right: -5px;
    }
}
@media (min-width: 768px){
    .qwp-search input{
        width: 100px!important;
    }
    div[qwp='table-top-right'] div[qwp='pager-left'],div[qwp='table-top-right'] div[qwp='pager-right']{
        float: right;
    }
    .qwp-search {
        margin-right: -25px;
        margin-left: -25px;
    }
    .qwp-table {
        margin-right: -25px;
        margin-left: -25px;
    }
}
@media screen and (max-width: 767px) {
    div[qwp='container'] > .table-responsive {
        margin-bottom: 0!important;
        border: 0!important;
    }
    div[qwp='container'] > .table-responsive > .table-bordered {
        border: 1px solid #ddd!important;
    }
    div[qwp='container'] > .slimScrollDiv > .table-responsive{
        border: 0!important;
    }
    div[qwp='container'] > .slimScrollDiv > .table-responsive > .table-bordered{
        border: 1px solid #ddd!important;
    }
}

.modal-dialog{
    margin: auto!important;
}

#gritter-notice-wrapper {
    z-index: 99999999!important;
}

.gritter-item-wrapper {
    background-image: none!important;
    box-shadow: 0 2px 10px rgba(50, 50, 50, 0.5);
    background: rgba(50, 50, 50, 0.92);
}

.gritter-item-wrapper.gritter-info {
    background: rgba(49, 81, 133, 0.92)
}

.gritter-item-wrapper.gritter-error {
    background: rgba(153, 40, 18, 0.92)
}

.gritter-item-wrapper.gritter-success {
    background: rgba(89, 131, 75, 0.92)
}

.gritter-item-wrapper.gritter-warning {
    background: rgba(190, 112, 31, 0.92)
}

.gritter-item-wrapper.gritter-light {
    background: rgba(245, 245, 245, 0.95);
    border: 1px solid #BBB
}

.gritter-item-wrapper.gritter-light.gritter-info {
    background: rgba(232, 242, 255, 0.95)
}

.gritter-item-wrapper.gritter-light.gritter-info .gritter-item {
    color: #4a577d
}

.gritter-item-wrapper.gritter-light.gritter-error {
    background: rgba(255, 235, 235, 0.95)
}

.gritter-item-wrapper.gritter-light.gritter-error .gritter-item {
    color: #894a38
}

.gritter-item-wrapper.gritter-light.gritter-success {
    background: rgba(239, 250, 227, 0.95)
}

.gritter-item-wrapper.gritter-light.gritter-success .gritter-item {
    color: #416131
}

.gritter-item-wrapper.gritter-light.gritter-warning {
    background: rgba(252, 248, 227, 0.95)
}

.gritter-item-wrapper.gritter-light.gritter-warning .gritter-item {
    color: #946446
}

.gritter-item p {
    line-height: 1.8
}

.gritter-top,
.gritter-bottom,
.gritter-item {
    background-image: none
}

.gritter-close {
    left: auto;
    right: 3px;
    background-image: none;
    width: 18px;
    height: 18px;
    line-height: 17px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 16px;
    color: #e17b67
}

.gritter-close:before {
    font-family: FontAwesome;
    font-size: 16px;
    content: "×"
}

.gritter-info .gritter-close {
    color: #ffa500
}

.gritter-error .gritter-close,
.gritter-success .gritter-close,
.gritter-warning .gritter-close {
    color: #ffea07
}

.gritter-close:hover {
    color: #FFF!important
}

.gritter-title {
    text-shadow: none
}

.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: none;
    color: #444
}

.gritter-light .gritter-title {
    text-shadow: none
}

.gritter-light .gritter-close:hover {
    color: #8a3104!important
}

.gritter-center {
    position: fixed;
    left: 33%;
    right: 33%;
    top: 8px
}

.gritter-with-image {
    margin-top: -10px!important;
    margin-left: 8px!important;
    width: auto!important;
    float: left;
}

@media only screen and (max-width:767px) {
    .gritter-center {
        left: 16%;
        right: 16%;
        top: 8px
    }
}

@media only screen and (max-width:480px) {
    .gritter-center {
        left: 30px;
        right: 30px
    }
}

@media only screen and (max-width:320px) {
    .gritter-center {
        left: 10px;
        right: 10px
    }
}
.qwp-list-header {
    margin-left: 1px;
}
.qwp-list-header a {
    padding: 1px 0;
}
.qwp-list-header > input[qwp=number] {
    height:23px;
    width:23px;
}
.qwp-list-header .glyphicon-search, .qwp-list-s .dropdown-toggle {
    padding-left: 2px!important;
    padding-right: 2px!important;
}
.qwp-list-s {
    float: right;
    margin-top: 1px;
    margin-right: 1px;
}
.qwp-list-s > input[type=checkbox] {
    min-width: 18px!important;
    width: 18px!important;
    height: 23px!important;
    vertical-align: middle;
    cursor: pointer!important;
    margin: 0!important;
}
.qwp-list > a > input[type=checkbox] {
    width: 18px!important;
    height: 23px!important;
    float: right;
    position: relative;
    bottom: -5px;
    right: -15px;
}
.qwp-list-popover {
    position: absolute;
}